{% extends 'base.html' %}
{% block title %}About | {% endblock %}
{% block content %}
<section class="container content section">
    <h1>About</h1>

    <p>
        In June 2017, the aging <abbr title="Microsoft Developer Network">MSDN</abbr> subscriber portal was "taken offline", with the new Visual Studio Subcription portal only being accessible to subscribers.
        The old portal was finally completely retired in October 2017, leaving many to wonder where to get information to verify digitally-delivered Microsoft products without a subscription.
        This project aims to preserve the once publicly available MSDN hashes for reference purposes and make them easier to search with just the SHA-1 hash.
    </p>

    <p>
        This site uses externally scraped data, which is updated on an ad-hoc basis.
        There will be a delay between when new files are released by Microsoft before they show up here.<br/>
        Additionally, there are certain fields that are not easily filterable with the provided data, e.g. architecture (x86/x64).
    </p>

    <h1>FAQ</h1>
    <ul>
        <li>
            <h3>Why don't you have product XYZ?</h3>
            <p>
                There may be a couple of reasons for this:
                The product may have never been delivered digitally,
                it may be a volume license product which is only offered through VLSC (and cannot be tracked),
                or only a specific edition of the product was offered.
            </p>
        </li>
        <li>
            <h3>Why do some beta products disappear?</h3>
            <p>
                Beta products are removed after the corresponding release version is available.
                Unfortunately there may not be a chance to go back and salvage information about these products.
            </p>
        </li>
    </ul>
</section>
{% endblock content %}