{% extends 'base.html' %}
{% block title %}{{group.name}} | {% endblock %}
{% block content %}
    <section class="section container content">
        <h2>{{group.name}}</h2>

        <table class="table">
            <thead>
                <th>Product name</th>
                <th style="text-align: right;"># of files</th>
                <th style="text-align: right;">Last file posted</th>
            </thead>
            <tbody>
                {% for f in families %}
                <tr>
                    <td>
                        <a href="{% url 'family_detail' family_id=f.id %}">{{f.name}}</a>
                    </td>
                    <td class="has-text-right">
                        {{f.file__count}}
                    </td>
                    <td class="has-text-right">
                        {{f.file__posted_date__max | date:'Y-m-d H:i'}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock content %}