{% extends 'base.html' %}
{% block content %}
    {% if show_fcu_banner %}
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Windows 10 Fall Creators Update</h1>
                <h2 class="subtitle">
                    <a href="/families/711?ref=banner">Click here to get file information.</a>
                </h2>
            </div>
        </div>
    </section>
    {% endif %}
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    <strong>{{total_count}}</strong>
                    <span class="has-text-weight-normal">files indexed from the MSDN subscriptions catalog</span>
                </h1>
                <form method="get" action="/search" class="is-hidden-mobile">
                    <div class="field has-addons">
                        <p class="control is-expanded">
                            <input type="text" class="input is-medium" name="hash_start" required minlength="4" pattern="[0-9a-f]+"
                               placeholder="Type the first 4 or more characters of the SHA-1 hash" />
                        </p>
                        <p class="control">
                            <button type="submit" class="button is-medium is-primary">
                                <i class="fa fa-search"></i>
                                &nbsp;
                                Search
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="section container content">
        <div class="columns">
            <div class="column">
                <h3>Latest updated products</h3>
                <ul>
                    {% for f in latest_updated_families %}
                    <li>
                        <a href="{% url 'family_detail' f.id %}">{{f.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column">
                <h3>Browse groups</h3>
                <ul>
                    <li>
                        <a href="{% url 'family_list' %}?start_letter=a">
                            <strong>All Products</strong>
                        </a>
                    </li>
                    {% for g in groups %}
                    <li>
                        <a href="{% url 'group_detail' g.id %}">{{g.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock content %}